@inherits LayoutComponentBase

<div class="">
    <div class="nav-container">
        <NavMenu/>
    </div>

    <main>
        <article class="">
            @Body
        </article>
    </main>
</div>
