@*********************************************************************************************************************@
@* von Laszlo und David *@

<div class="nav-title">
    <a href="">
        <img src="images/N3W5_Logo.png"/>
    </a>
</div>

<div class="nav-link-container" @onclick="ToggleNavMenu">
    <nav class="">
        <div class="">
            <NavLink class="" href="/about">
                <span class="" aria-hidden="true"></span> About
            </NavLink>
        </div>
        <div class="">
            <NavLink class="" href="/settings">
                <span class="" aria-hidden="true"></span> Settings
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool _collapseNavMenu = true;

    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }
}
@*********************************************************************************************************************@