@page "/"
@using Controller
@using Model
@inject ControllerManager Manager
@inject NewsApiController NewsApi
@inject ArticlesService ArticleService
@inject MsTranslatorApiController Translator

<PageTitle>Index</PageTitle>

<div>
    <div style="height: 50px">
        <div class="category-container">
            <button class=@(_selectedCategoryView[Category.TopStories] ? "category-button-selected" : "category-button") @onclick="() => { _contentIsLoaded = false; ChangeSelectedCategoryView(Category.TopStories); LoadPageContent(Category.TopStories); }">
                Top Stories
            </button>
            <button class=@(_selectedCategoryView[Category.Sports] ? "category-button-selected" : "category-button") @onclick="() => { _contentIsLoaded = false; ChangeSelectedCategoryView(Category.Sports); LoadPageContent(Category.Sports); }">
                Sports
            </button>

            @* Currently no data for this category, can be implemented later *@
            @*<button class=@(_selectedCategoryView[Category.Politics] ? "category-button-selected" : "category-button") @onclick="() => { _contentIsLoaded = false; ChangeSelectedCategoryView(Category.Politics); LoadPageContent(Category.Politics); }">
                Politics
            </button>*@

            <button class=@(_selectedCategoryView[Category.Science] ? "category-button-selected" : "category-button") @onclick="() => { _contentIsLoaded = false; ChangeSelectedCategoryView(Category.Science); LoadPageContent(Category.Science); }">
                Science
            </button>
            <button class=@(_selectedCategoryView[Category.Business] ? "category-button-selected" : "category-button") @onclick="() => { _contentIsLoaded = false; ChangeSelectedCategoryView(Category.Business); LoadPageContent(Category.Business); }">
                Business
            </button>
            <button class=@(_selectedCategoryView[Category.Entertainment] ? "category-button-selected" : "category-button") @onclick="() => { _contentIsLoaded = false; ChangeSelectedCategoryView(Category.Entertainment); LoadPageContent(Category.Entertainment); }">
                Entertainment
            </button>
        </div>
    </div>

    <div>
        @if (_contentIsLoaded)
        {
            <div class="tiles-container" style=@(_readerIsOpen ? "visibility: hidden" : "visibility: visible")>
                @foreach (var article in CurrentArticles)
                {
                    <div class="tile" @onclick="() => { SelectedArticle = article; _readerIsOpen = true; }">
                        <div>
                            <img src="https://www.tagesspiegel.de/gesellschaft/medien-_-ki/images/google-logo/alternates/BASE_1_1_W1000/google-logo.jpeg" alt="Placeholder"/>
                        </div>
                        @if (article.Title.Length > 70)
                        {
                            <h2>@article.Title.Substring(0, Math.Min(article.Title.Length, 70))...</h2>
                        }
                        else
                        {
                            <h2>@article.Title</h2>
                        }
                    </div>
                }
            </div>
        }
        else
        {
            <div class="tiles-container">
                @for (int i = 0; i < 20; i++)
                {
                    <div class="tile">
                        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Animation="Animation.Wave" Height="100%"/>
                    </div>
                }
            </div>
        }

        @if (_readerIsOpen)
        {
            <MudOverlay Visible="true" DarkBackground="true" @onclick="() => { _readerIsOpen = false; StateHasChanged(); }">
                <Reader Article="SelectedArticle"/>
            </MudOverlay>
        }
    </div>
</div>


@code {
    private bool _contentIsLoaded;
    private bool _readerIsOpen;

    private Dictionary<Category, bool> _selectedCategoryView = new Dictionary<Category, bool>()
    {
        { Category.TopStories, false },
        { Category.Sports, false },
        { Category.Politics, false },
        { Category.Science, false },
        { Category.Business, false },
        { Category.Entertainment, false }
    };

    private NewsArticle SelectedArticle { get; set; }

    private List<NewsArticle> CurrentArticles { get; set; } = new();

    /*****************************************************************************************************************/


    protected override void OnInitialized()
    {
        ChangeSelectedCategoryView(Category.TopStories);
        LoadPageContent(Category.TopStories);
        base.OnInitialized();
    }

    private void ChangeSelectedCategoryView(Category category)
    {
        foreach (var entry in _selectedCategoryView)
        {
            DeactivateCategoryView(entry.Key);
        }

        _selectedCategoryView[category] = true;
    }

    private void DeactivateCategoryView(Category category)
    {
        _selectedCategoryView[category] = false;
    }

    private async void LoadPageContent(Category category)
    {
        if (ArticleService.GetArticleList(category)!.Count > 0)
        {
            CurrentArticles = ArticleService.GetArticleList(category)!;
            _contentIsLoaded = true;
            StateHasChanged();
        }
        else
        {
            if (await Manager.LoadContent(NewsApi, category, Translator))
            {
                _contentIsLoaded = true;
                CurrentArticles = ArticleService.GetArticleList(category)!;
                StateHasChanged();
            }
        }
    }

    private async void Test()
    {
        //var result = await Manager.testfunc();
        //TestString = result;

        if (await Manager.LoadContent(NewsApi, Category.TopStories, Translator))
        {
            _contentIsLoaded = true;
            Console.WriteLine(_contentIsLoaded);
            Console.WriteLine(CurrentArticles);
        }

        StateHasChanged();
    }

}