@page "/"
@using Controller
@using Model
@inject ControllerManager Manager
@inject NewsApiController NewsApi
@inject ArticlesService ArticleService
@inject MsTranslatorApiController Translator

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to SummHub.

<button @onclick="() => Test()">
    test
</button><br/><br/>

@if (_testBool)
{
    @foreach (var article in ArticleService.TopStories)
    {
        if (article.Title != string.Empty)
        {
            <label>@article.Title</label><br/>
            <img src="https://www.tagesspiegel.de/gesellschaft/medien-_-ki/images/google-logo/alternates/BASE_1_1_W1000/google-logo.jpeg" height="50px"/><br/>
        }
    }
}

@code {
    private bool _testBool;
    
    private async void Test()
    {
        //var result = await Manager.testfunc();
        //TestString = result;

        if (await Manager.LoadContent(NewsApi, Category.TopStories, Translator))
        {
            _testBool = true;
            Console.WriteLine(_testBool);
            Console.WriteLine(ArticleService.TopStories);
        }
        
        StateHasChanged();
    }
}