@page "/"
@using Controller
@using Model
@inject ControllerManager Manager

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to SummHub.

<button @onclick="() => test()">
    test
</button><br/><br/>

@if (testbool)
{
    @foreach (var article in Manager.ArticlesService.TopStories)
    {
        if (article.Title != String.Empty)
        {
            <label>@article.Title</label><br/>
            <img src="https://www.tagesspiegel.de/gesellschaft/medien-_-ki/images/google-logo/alternates/BASE_1_1_W1000/google-logo.jpeg" height="50px"/><br/>
        }
    }
}

@code {
    private bool testbool = false;
    
    private async void test()
    {
        //var result = await Manager.testfunc();
        //TestString = result;

        if (await Manager.LoadContent(Manager.NewsApi, Category.TopStories))
        {
            testbool = true;
            Console.WriteLine(testbool);
            Console.WriteLine(Manager.ArticlesService.TopStories);
        }
        
        StateHasChanged();
    }
}