@page "/"
@using Controller
@using Model
@inject ControllerManager Manager
@inject HttpClient client

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to SummHub.

<button @onclick="() => test()">
    test
</button>

@TestString



@code {

    public string TestString { get; set; }
    
    private async void test()
    {
        var result = await Manager.testfunc();
        TestString = result;
        
        StateHasChanged();
    }
}