
.about-container{
    margin: 7% 20% 7% 20%;
    
}

h1 {
    margin-bottom: 20px;
}

h2, h3 {
    margin: 0 5% 20px 5%;
}

p {
    font-size: larger;
    text-align: justify;
    margin-bottom: 20px;
    margin-left: 10%;
}