.error-popup-body {
    background-color: rgb(40 40 40);
    width: 15vw;
    height: 10vh;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 10px;
    box-shadow: -3px 3px 10px 0 black;
    display: flex;
}

.error-icon {
    width: 20%;
    padding: 10px;
    display: grid;
    align-content: center;
}

.error-icon img {
    width: 100%;
}

.error-text {
    height: 100%;
    width: 80%;
    align-content: center;
    display: grid;
}

.error-text label {
    font-size: 15px;
    width: 100%;
}