.nav-title {
    width: fit-content;
    background-color: black;
    height: 70px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 20px;
}

.nav-title a img{
    height: 50px;
}

.nav-link-container {
    display: flex;
    width: 100%;
}

.nav-link-container nav {
    display: flex;
    width: inherit;
    align-items: center;
    justify-content: flex-end;
}

.nav-link-container nav div {
    width: 150px;
    text-align: center;
}

.nav-link-container nav div a {
    font-size: 30px;
    text-decoration: none;
    color: white;
}