.tiles-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 40px;
    padding: 20px;
    margin-top: 125px;
}

.tile{
    width: 400px;
    height: 370px;
    margin: 10px;
    text-align: center;
    background-color: rgba(40 40 40);
    border-radius: 10px;
    overflow: hidden;
}

.tile:hover{
    background-color: rebeccapurple !important;
}

.tile-img{
    height: 100%;
}

.article-img{
    width: 100%;
}

.tile div{
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    justify-content: center;
}

.tile h2{
    margin: 0 15px 10px 15px;
    font-size: 30px;
}